/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 10px;
    background: #E6FFE6;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

form#form1 {
    position: center;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}
/*Selbst eingefügt*/
.a0 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    font-size: 25px;
    color: greenyellow;
}

.centerContainer {
    position: relative;
    top: 250px;
    left: 25%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.uploadingXMLData {
    margin: auto;
    padding-left: 10px;
    padding-top: 10px;
    border: 20px;
    padding-right: 20px;
}
h1.uploadingXMLData {
    margin: auto;
}
table.uploadingXMLData {
    margin: auto;
}

.footer-cont {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
}


footer {
    padding-left: 10px;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}
